@define-color bg-main #ffffff;
@define-color bg-alt #f0f0f0;
@define-color bg-active #c4c4c4;

@define-color fg-main #000000;
@define-color fg-dim #595959;

@define-color border-main #9f9f9f;
@define-color border-soft #c4c4c4;

@define-color red #a60000;
@define-color yellow #6f5500;
@define-color yellow-soft #808000;
@define-color green #006800;
@define-color blue #0031a9;
@define-color cyan #005e8b;
@define-color magenta #721045;

@define-color accent #f3d000;
