/* Global Reset */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "monospace", "cozette";
	font-weight: 600;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

/* Main Window Styling */
window#waybar {
	background-color: #1d2021;
	color: #d4be98;
}

/* Tooltip Styling */
tooltip {
	background-color: #282828;
	color: #d4be98;
	padding: 4px;
}

/* Tags Module */
#tags {
	background-color: #1d2021;
	padding: 0 4px;
}

#tags button {
	all: unset;
	min-width: 0;
	padding: 0 4px;
	color: #665c54;
}

#tags button.focused {
	color: #d4be98;
	background-color: #1d2021;
}

#tags button.urgent {
	background-color: #665c54;
	color: #1d2021;
}

/* Clock Module */
#clock {
	padding: 0 8px;
}

/* Tray Module */
#tray {
	background-color: #1d2021;
	padding: 0 4px;
}

/* Modules: CPU, Memory, Battery, Network, PulseAudio */
#cpu,
#power-profiles-daemon,
#temperature,
#memory,
#battery,
#network,
#pulseaudio {
	padding: 0 8px;
}

/* Critical States */
#cpu.critical,
#memory.critical,
#battery.critical {
	color: #ea6962;
	background-color: #1d2021;
}

/* Warning States */
#cpu.warning,
#battery.warning,
#memory.warning {
	color: #d8a657;
	background-color: #1d2021;
}

/* Network & Pulse-Audio Modules */
#network,
#pulseaudio {
	color: #d4be98;
	background-color: #1d2021;
}

#network.disconnected,
#pulseaudio.muted {
	color: #665c54;
	background-color: #1d2021;
}

/* Hover/Active (soft) */
#tags button:hover {
	color: #d8a657;
}

#tags button:active {
	color: #a89984;
}
