* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "monospace", "cozette";
	font-weight: 600;
	font-size: 12px;
	padding: 0;
}

window#waybar {
	background: #1d2021;
	border: 2px solid #3c3836;
}

tooltip {
	background-color: #1d2021;
	border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
	margin: 6px 6px 6px 0px;
	padding: 2px 8px;
}

#tags {
	background-color: #303536;
	margin: 6px 0px 6px 6px;
	border: 2px solid #434a4c;
}

#tags button {
	all: initial;
	min-width: 0;
	box-shadow: inset 0 -3px transparent;
	padding: 2px 4px;
	color: #c7ab7a;
}

#tags button.focused {
	color: #fe8019;
}

#tags button.urgent {
	background-color: #e78a4e;
	color: #1d2021;
}

#clock {
	background-color: #303536;
	border: 2px solid #434a4c;
	color: #d4be98;
}

#tray {
	background-color: #d4be98;
	border: 2px solid #c7ab7a;
}

#cpu,
#memory,
#network,
#pulseaudio {
	background-color: #ddc7a1;
	border: 2px solid #c7ab7a;
	color: #1d2021;
}

#battery {
	background-color: #a9b665;
	border: 2px solid #c7ab7a;
	color: #1d2021;
}

#battery.warning {
	background-color: #d8a657;
	border: 2px solid #c7ab7a;
	color: #1d2021;
}

#battery.critical,
#cpu.critical,
#memory.critical {
	background-color: #ea6962;
	border: 2px solid #c7ab7a;
	color: #1d2021;
}

#pulseaudio.muted,
#network.disconnected {
	color: #7c6f64;
}
